---
import "../styles/global.css";
interface Props {
  title: string;
  description?: string;
}

import { name, metaDescription } from "../../consts";
import MetaHead from "../components/ui/MetaHead.astro";
import Navbar from "../components/ui/Navbar.astro";
import Footer from "../components/ui/Footer.astro";
const { title, description = metaDescription } = Astro.props;
const pageTitle = `${name} ${title}`;
---

<html lang="en">
  <head>
    <MetaHead title={pageTitle} description={description} />
  </head>
  <body>
    <div class="mx-auto flex min-h-screen w-full max-w-5xl flex-col px-5">
      <header class="pt-6">
        <h1 class="title-1">{name}'s {title}</h1>
        <Navbar />
      </header>
      <main class="flex-1 py-6">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
